
h1{
		position:absolute;
		left: 180px;
		top: 230px;
		font-size: 80px;
	}
	h2{
		position: absolute;
		left: 180px;
		top: 430px
		}
	body{
		background-image: url(Fondos-01.png);
		background-size: 100%;
	}
	li{ text-align: center;
		width: 300px;
		padding-top:15px;
	    padding-left:15px;
	    padding-bottom:15px;
	    padding-right:15px;
	    font-size: 20px;

	}
#boton-mira{
	position: absolute;
	left: 180px;
	top: 500px;
	font-size: 20px;
	padding-left: 50px;
	padding-right: 50px;
}

